.navbar{
  background-color: rgb(140, 68, 44);
  height: 55px;
}

.nav-link, .navbar-brand {
    color: white !important;
    font-size: 20px;

}

.nav-link:hover {
    font-size: 25px;
}

.dropdown-menu {
    background-color:black;

}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #DFE7E9;
    color: black;
}

 .navbar-toggler {
  background-color: black;
}

 .navbar-toggler  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

 }

 .navbar-toggler:hover{
   background-color: #DFE7E9;
 }

 .navbar-toggler:hover  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

 }

 li > a:hover{
   border-color: black;
 }

 .navbar-nav{
   margin-right: 50px;
 }

