
.portada, .card, .lista{
  margin-top: 20px;
}

.card-title{
  text-align: center;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}

.card-img-top{
  width: 35%;
}

img{
  width: 300px;
}

.btn{
  color: white;
  background-color: #740e00;
  border-color: #740e00;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.btn:hover{
  background-color: rgb(121, 121, 121);
}

.details {
  margin-bottom: 60px;
}