<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="portada text-center">
        <img [src]="book.volumeInfo.imageLinks != undefined ? book.volumeInfo.imageLinks.thumbnail : 'assets/img/wormnotfound.jpg'" class="rounded" alt="...">
        <div class="text-center">
          <button type="button" class="btn btn-primary">Leer</button>
          <button type="button" class="btn btn-primary">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ book.volumeInfo.title }}</h3>
          <p class="card-text"> {{ book.volumeInfo.description }} </p>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="lista">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let author of book.volumeInfo.authors"><strong>Autor:</strong> {{ author }}</li>
          <li class="list-group-item"><strong>Editorial:</strong> {{ book.volumeInfo.publisher }}</li>
          <li class="list-group-item"><strong>Año:</strong>	{{ book.volumeInfo.publishedDate }} </li>
          <li class="list-group-item">Tiempo estimado de lectura según la ténica utilizada:<br><br>
            <strong>Subvocalización:</strong><br><br>
            <strong>Lectura auditiva:</strong><br><br>
            <strong>Lectura mental:</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
