<div class="container">
  <div class="row row-cols-2">
    <div class="col-5 search">
      <h5>Advanced search</h5>

        <div class="row">

          <div class="col-12 list-group">
            <input #titleBox class="form-control input-search" type="text" placeholder="Title" (input)="searchByTitle(titleBox.value)">
          </div>
        </div>
        <div class="row">
          <div class="col-6 list-group">
            <input #authorBox class="form-control input-search" type="text" placeholder="Author" (input)="searchByAuthor(authorBox.value)">
            <input #ISBNBox class="form-control input-search" type="text" placeholder="ISBN" (input)="searchByISBN(ISBNBox.value)">

          </div>

          <div class="col-6 list-group">
            <input #publisherBox class="form-control input-search" type="text" placeholder="Publisher" (input)="searchByPublisher(publisherBox.value)">
            <input #subjectBox class="form-control input-search" type="text" placeholder="Subject" (input)="searchBySubject(subjectBox.value)">
          </div>


        </div>
          <div class="row">
            <div class="col list-group select">
              <select class="form-select input-search" aria-label="Default select example">
                <option disabled selected>Language</option>
                <!--<option *ngFor="let category of categories">{{category.name}}</option>-->
              </select>
            </div>
              <div class="col list-group select">
                <select [(ngModel)]="selectedType" (change)='filterType(selectedType)' class="form-select input-search" aria-label="Default select example">
                  <option disabled selected>Type</option>
                  <option *ngFor="let type of types" [value]="type">{{type}}</option>
                </select>
              </div>
              <div class="col list-group select">
                <select [(ngModel)]="selectedAvailability" (change)='filterAvailability(selectedAvailability)' class="form-select input-search" aria-label="Default select example">
                  <option disabled selected>Availability</option>
                  <option *ngFor="let availability of availabilities" [value]="availability">{{availability}}</option>
                </select>
              </div>
          </div>


          <div class="col button-search">
            <button class="btn btn-outline-success" type="button" (click)="search()">Search</button>
          </div>

          <div class="col">
            <img class="worm img-fluid" src="..\assets\img\wormasks.png">
          </div>

         
  </div>
  <div class="container-fluid">
    <div class="col-12 orderFiltre">
      <h5>Order by:</h5>
      <div class="row">
        <div class="col">
          <label>Relevance</label> <input class="radioButton" type="radio" name="num-book" value="2" (input)="orderBy('relevance')" checked>
        </div>
        <div class="col">
          <label>Date</label><input class="radioButton" type="radio" name="num-book" (input)="orderBy('newest')">
        </div>
        <div class="col">
          <p>Results: {{books.totalItems}}</p>
        </div>
      </div>
    </div>
    <div class="col-12">
     <div class="book-catalog">
    <div class="row row-cols-3">
      <div *ngFor="let book of books.items">
        <img class="rounded d-block img-fluid" [src]="book.volumeInfo.imageLinks != undefined ? book.volumeInfo.imageLinks.thumbnail : 'assets/img/wormnotfound.jpg'" [alt]="book.volumeInfo.title">
      </div>
    </div>
   <!-- <div *ngIf="books.totalItems > 0" class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>-->


</div>
</div>
</div>



</div>


</div>

