
.container {
    display: flex;
    justify-content: center;
}

p {
    font-family: arial;
    font-size: 1.5rem;
    color: black;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 1px #94b2b8;;
}


.top-books div {

    max-width: 200px;
    max-height: 300px;
}


.new-books div {

    max-width: 350px;
    max-height: 400px;
}


ul {
  width:350px;
  resize:both;
  text-align: center;
}



a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
}

a.button:hover{
  color: white;
}

li{
   background-color:white;
 }


li:hover{
  background-color:#293335;
}

@media all and (max-width:30em){
  a.button{
    display:block;
    margin:0.4em auto;
  }
}
