.welcome {
  width: 45%;
  height:40%;
  background-color: #740e00;
  border-radius: 25px;
  padding: 2rem;
  margin: 2rem;
  color: white;
}

.search {
  height: 3.5rem;
}

a {
  color: #c2b9b8;
}

p {
  font-size: larger;
  text-align: justify;
}