<div class="fondo container-fluid">
<div class="container-fluid">

  <div class="row subhead">
  </div>
  <div class="row">
    <div id="info" class="column welcome">

      <h1>Looking for your next reading?</h1>
      <br>

      <form class="d-flex">
        <input #keywordBox class="form-control search" type="search" placeholder="Search a book" (input)="searchKey(keywordBox.value)">

        <button class="btn" type="button"><a routerLink="/search"><img src="../assets/img/search.png"/></a></button>
      </form>

      <br><br>
      This glorious web is a book search engine that helps you find information about books, where you can purchase them and even check out how long it will take to read.
      <br><br>
      <img src="../assets/img/wormabc.png" alt="Book" width="100" height="100">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloribus cum, ad quisquam amet, ipsa labore eaque fuga debitis consectetur nesciunt maxime, veniam a? Possimus quidem aliquam dolore praesentium hic.<br><br><br>
    </div>

    <div class="column book-carousels">

      <app-book-carousel></app-book-carousel>

    </div>

  </div>

</div>



</div>

